@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 2px;
    background-color: black;
    color: white;
}

.scroll {
    overflow: scroll;
}

.selected {
    color: wheat;
}

a {
    text-decoration: none;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

img {
    border-radius: 10px;
}

input[type='text'] {
    width: 100%;
    padding: 10px;
    font-size: large;
    border: 1px solid white;
}

.backdrop {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.poster {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}
