@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

.row {
    @apply flex flex-row;
}

.col {
    @apply flex flex-col;
}

body {
    @apply bg-slate-900 text-white;
}

.bg2 {
    @apply bg-slate-800;
}

.bg3 {
    @apply bg-slate-700;
}

.btn {
    @apply px-3 py-1 rounded-xl;
}

.btn-row {
    @apply row space-x-2 justify-items-center overflow-scroll md:overflow-hidden xl:justify-start;
}

.bubble {
    @apply bg2 p-4 rounded-xl;
}

.dark-card {
    @apply row bg-black bg-opacity-50 rounded-xl xl:p-10;
}

.card {
    @apply row bg2 rounded-xl;
}

.card-img {
    @apply w-32 md:w-40 p-2 rounded-xl;
}

.card-text {
    @apply space-y-1 p-2;
}

.err {
    @apply bg-red-800 rounded-xl p-2 m-2;
}

.grid123 {
    @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-2;
}

.grid234 {
    @apply grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-2;
}

.img-bg {
    @apply bg-cover bg-center rounded-xl;
}

.subtext {
    @apply text-slate-400;
}

select {
    @apply bg2 px-3 py-1 rounded-xl text-center;
}

.single-row {
    @apply row justify-center md:justify-start;
}

.video-card {
    @apply bg2 rounded;
}

.video-card-img {
    @apply rounded-t;
}

.video-card-text {
    @apply p-2;
}

/* Spinner */

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.spinner:after {
    content: ' ';
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
