@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@import 'tailwindcss';

@plugin "@iconify/tailwind4";

::-webkit-scrollbar {
  scrollbar-width: none;
}

html {
  scrollbar-width: none;

  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-style: normal;

  @apply bg-slate-900 text-white;
}

input {
  outline: none;
}
